$btn-padding-left: 16px;  
$btn-padding-top: 16px;
$border: 2px;

.btn {
  background: $primary-color;
  border: 0;
  border-radius: 22px;
  padding: $btn-padding-top $btn-padding-left;
  font-family: 'MontserratBold', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: opacity 0.2s;

  &:not(.btn--outline, .btn--no-background):hover {
    opacity: 0.5;
  }

  //Modificators
  &--large {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & i, span {
      margin-left: auto;
    }
  }

  &--outline {
    position: relative;
    padding: $btn-padding-left - $border $btn-padding-top - $border;
    color: $purple;
    background: #fff;
    background-clip: padding-box;
    border: solid $border transparent;   

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: $primary-color;
      transition: opacity 0.2s;
    }

    &:hover {
      &:before {        
        opacity: 0.5;
      }
    }
  }

  &--no-background {
    padding: 0;
    background: 0; 
    color: $purple;
    &:hover {
      color: $dark-shade-50;
    }   
  }
}