//Colors
$dark-shade-100:#1f2041;
$dark-shade-75:   opacify($dark-shade-100, 0.75);
$dark-shade-50:   opacify($dark-shade-100, 0.50);
$dark-shade-25:   opacify($dark-shade-100, 0.25);
$dark-shade-5:    opacify($dark-shade-100, 0.05);
$purple:        #bc9cff;
$blue:          #8ba4f9;
$green:         #6fcf97;
$turquoise:     #66d2ea;

$primary-color: linear-gradient(180deg, $purple 0%, $blue 100%);
$seconday-color: linear-gradient(180deg, $green 0%, $turquoise 100%);


//Typography
$default-font: "Montserrat", san-serif;